name: Publish to npm on PR merge

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install dependencies
        run: npm install

      # - name: Run tests
      #   run: npm test

      - name: Bump version and publish to npm
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          token: ${{secrets.PERSONAL_TOKEN}}
        run: |
          git config --global user.email "aanikhilsoni@gmail.com"
          git config --global user.name "Nikhil soni"
          npm version prerelease -m "Auto increment pre-release version to %s [skip ci]" --force
          npm publish --access=public
